openapi: "3.0.0"
info:
  title: "Arbeitsagentur Ausbildungssuche API"
  description: |
   Eine der größten Ausbildungsdatenbanken Deutschlands durchsuchen. 
   
   Die Authentifizierung funktioniert per OAuth 2 Client Credentials mit JWTs. Folgende Client-Credentials können dafür verwendet werden:
   
   **ClientID:** 1c852184-1944-4a9e-a093-5cc078981294
   
   **ClientSecret:** 777f9915-9f0d-4982-9c33-07b5810a3e79. 
   
   **Achtung**: der generierte Token muss bei folgenden GET-requests im header als 'OAuthAccessToken' inkludiert werden.
  version: "1.0.0"
  contact:
    name: "AndreasFischer1985"
    email: "andreasfischer1985@web.de"
    url: "https://github.com/AndreasFischer1985/ausbildungssuche-api"


servers:
  - url: "https://rest.arbeitsagentur.de/infosysbub/absuche"

paths:
  /pc/v1/ausbildungsangebot:
    get:
      summary:	 Ausbildungssuche
      description: "Die Ausbildungssuche ermöglicht verfügbare Ausbildungsangebote mit verschiedenen GET-Parametern zu filtern."
      responses:
        '200':
            description: OK
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Response'
      parameters:
        - in: query
          name: ids
          schema:
            type: integer
          description: Berufs-ID einer Berufsbezeichnung. Mehrere Komma-getrennte Angaben möglich.
          example: 2927
          required: false

        - in: query
          name: orte
          schema:
            type: integer
          description: ID eines Ortes. Mehrere Komma-getrennte Angaben möglich.
          example: 38450
          required: false

        - in: query
          name: page
          schema:
            type: integer
          description: Ergebnissseite
          example: 0
          required: false

        - in: query
          name: uk
          schema:
            type: string
            enum:
                - Bundesweit
                - 25
                - 50
                - 100
                - 150
                - 200
          description: Umkreis - Bundesweit=Bundesweit, 25=25 km, 50=50 km, 100=100 km, 150=150 km, 200=200 km.
          example: "Bundesweit"
          required: false

        - in: query
          name: re
          schema:
            type: string
            enum:
                - BW
                - BY
                - BE
                - BB
                - HB
                - HH
                - HE
                - MV
                - NI
                - NW
                - RP
                - SL
                - SN
                - ST
                - SH
                - TH
          description: Region/Bundesland - BW=Baden-Württemberg, BY=Bayern, BE=Berlin, BB=Brandenburg, HB=Bremen, HH=Hamburg, HE=Hessen, MV=Mecklenburg-Vorpommern, NI=Niedersachsen, NW=Nordrhei-Westfalen, RP=Rheinland-Pfalz, SL=Saarland, SN=Sachsen, ST=Sachsen-Anhalt, SH=Schleswig-Holstein, TH=Thüringen. Mehrere Komma-getrennte Angaben möglich.
          example: TH,BW
          required: false

        - in: query
          name: bart
          schema:
            type: integer
            enum:
                - 102
                - 105
                - 109
          example: 102
          description: Ausbildungstyp - 102=Berufsausbildung, 105=Abschluss nachholen, 109=Umschulung
          required: false

        - in: query
          name: ityp
          schema:
            type: integer
            enum:
              - 0
              - 1
          description: Integrationstyp - 0=Ausbildung Reha, 1=weiterbildung Reha. Mehrere Komma-getrennte Angaben möglich.
          example: 0
          required: false

        - in: query
          name: bt
          schema:
            type: integer
            enum:
                - 2
                - 101
                - 102
                - 103
                - 104
                - 105
                - 106
                - 107
                - 108
                - 109
                - 110
                - 111
                - 112
          description: Beginntermin - 2=frühere Termine, 101=Januar des Folgejahres, 102=Februar des Folgejahres, 103=März des Folgejahres, 104=April des Folgejahres, 105=Mai des Folgejahres, 106=Juni des Folgejahres, 107=Juli des Folgejahres, 108=August des Folgejahres, 109=September des Folgejahres, 110=Oktober des Folgejahres, 111=November des Folgejahres, 112=Dezember des Folgejahres. Mehrere Komma-getrennte Angaben möglich.
          example: 2
          required: false

        - in: query
          name: ban
          schema:
            type: integer
          example: 465
          required: false
          description: Bildungsanbieter-ID. Mehrere Komma-getrennte Angaben möglich.
     
        - in: query
          name: bg
          schema:
            type: boolean
          description: Bildungsgutschein - true=nur Angebote mit Zulassung zur Förderung mit Bildungsgutschein anzeigen, false=nicht nur Angebote mit Zulassung zur Förderung mit Bildungsgutschein anzeigen.
          example: true
          required: false

security: 
  - clientCredAuth: 
    - "read"

components: 
  securitySchemes:
    clientCredAuth:    # <---- arbitrary name
      type: oauth2
      description: "Die Authentifizierung funktioniert per OAuth-2-Client Credentials mit JWTs. DClient Credentials sind folgende:<br><br> **ClientID:** 1c852184-1944-4a9e-a093-5cc078981294 <br> **ClientSecret:** 777f9915-9f0d-4982-9c33-07b5810a3e79"
      flows:
        clientCredentials:  
          tokenUrl: https://rest.arbeitsagentur.de/oauth/gettoken_cc
          scopes: {}
  schemas:
    Response:
      type: object
      properties:      
        _embedded:
          type: object
          properties:
            termine:
              type: array
              items:
                type: object
                properties:
                  id: 
                    type: integer
                    example: 17885
                  unterrichtsform:
                    type: object
                    properties:
                      id: 
                        type: integer
                        example: 1
                    bezeichnung: 
                        type: string
                        example: Vor-Ort-Vollzeit
                    dauer:
                        id: 
                          type: integer
                          example: 8
                        bezeichnung: 
                          type: string
                          example: mehr als 2 Jahre bis 3 Jahre
                    anbieterbewertung: 
                          type: string
                          example: null
                    angebot:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 255646
                        titel: 
                          type: string
                          example: Physiotherapeut(in) und Bachelor of Science Physiotherapie (Ausbildungsbegleitender Studiengang)
                          inhalt: 
                            type: string
                            example: '<p>Inhalte gemäß den geltenden Rechtsgrundlagen</p>'
                          abschlussart: 
                            type: string
                            example: 'Staatliche Prüfung und Bachelorprüfung (Hochschule Reutlingen / Eberhard Karls Universität Tübingen)'
                          abschlussbezeichnung: 
                              type: string
                              example: 'Physiotherapeut(in) und Bachelor of Science - Physiotherapie (Hochschule Reutlingen / Eberhard Karls Universität Tübingen)''
                          foerderung: 
                              type: string
                              example: Eine Förderung nach BAföG ist möglich.
                          zugang: 
                              type: string
                              example: '<h4>Alter</h4><p>Mindestalter: 17 Jahre</p>'
                          zielgruppe: 
                              type: string
                              example: null
                          anrechnung: 
                              type: string
                              example: Gemäß den geltenden Rechtsgrundlagen
                          berechtigungen: 
                              type: string
                              example: null
                          zusatzqualifikationen: 
                              type: string
                              example: null
                          link: 
                              type: string
                              example: null
                          bildungsanbieter:
                              id: 
                                type: integer
                                example: 3264
                              name: 
                                type: string
                                example: Musteranbieter
                              telefonVorwahl: 
                                type: string
                                example: '09128'
                              telefonDurchwahl: 
                                type: integer 
                                example: '123456789'
                              mobilVorwahl: 
                                type: string
                                example: null
                              mobilDurchwahl: 
                                type: integer
                                example: null
                              faxVorwahl: 
                                type: string
                                example: '0621'
                              faxDurchwahl: 
                                type: integer
                                example: '68102590'
                              homepage: 
                                type: string
                                example: 'www.anbieterhomepage.de'
                              email: 
                                type: string
                                example: max.mustermann@beispiel.de
                              adresse:
                                type: object
                                properties: 
                                  id: 
                                    type: integer
                                    example: 164213
                                bezeichnung: 
                                    type: string
                                    example: null
                                strasse: 
                                    type: string
                                    example: Ludwig-Guttmann-Str. 13
                                ortStrasse:
                                  type: object
                                  properties: 
                                    id: 
                                      type: integer
                                      example: 29492
                                    plz: 
                                      type: integer
                                      example: '67071'
                                    name: 
                                      type: string
                                      example: Ludwigshafen am Rhein
                                    laengengrad: 
                                      type: number
                                      example: 10.4478
                                    breitengrad: 
                                      type: number
                                      example: 39.4833
                                    koordinaten:
                                      type: object
                                      properties:
                                        lat: 
                                          type: number
                                          example: 39.4833
                                        lon: 
                                          type: number
                                          example: 10.4478
                                  land:
                                    type: object
                                    properties:
                                      id: 
                                        type: integer
                                        example: 11
                                      name: 
                                        type: string
                                        example: Rheinland-Pfalz
                                      laenderCode: 
                                        type: string
                                        example: D
                                      bundeslandCode: 
                                        type: string
                                        example: RPF
                                      code: 
                                        type: string
                                        example: RPF
                                postfach: 
                                  type: integer
                                  example: '250362'
                                ortPostfach:
                                  type: object
                                  properties:
                                    id: 
                                      type: integer
                                      example: 29519
                                    plz: 
                                      type: integer
                                      example: '67035'
                                    name: 
                                      type: string
                                      example: Ludwigshafen
                                    laengengrad: 
                                      type: number
                                      example: 0
                                    breitengrad: 
                                      type: number
                                      example: 0
                                    koordinaten:
                                      type: object
                                      properties:
                                        lat: 
                                          type: number
                                          example: 0
                                        lon:
                                          type: number
                                          example: 0
                                    land:
                                      type: object
                                      properties:
                                        id: 
                                          type: integer
                                          example: 11
                                        name: 
                                          type: string
                                          example: Rheinland-Pfalz
                                        laenderCode: 
                                          type: string
                                          example: D
                                        bundeslandCode: 
                                          type: string
                                          example: RPF
                                        code: 
                                          type: string
                                          example: RPF
                                dienstleistungen: 
                                  type: string
                                  example: null
                                ortsteil: 
                                  type: string
                                  example: Oggersheim
                                hinweise: 
                                  type: string
                                  example: null
                              logo:
                              type: object
                              properties:
                                id: 
                                  type: integer
                                  example: 16322
                                url: 
                                  type: string
                                  example: "https://rest.arbeitsagentur.de/infosysbub/kursnet-rest/ct/v1/bildungsanbieter/3264/logos/16322"
                          bildungsart:
                            type: object
                            properties:
                              id: 
                                type: string
                                example: 102
                              bezeichnung: 
                                type: string
                                example: Berufsausbildung
                            systematiken:
                              type: array
                              items: 
                                dkzId: 
                                  type: integer
                                  example: 8750
                                codeNr: 
                                  type: string
                                  example: B 81713-901
                                kurzbezeichnung: 
                                  type: string
                                  example: null
                            schulart:
                              type: object
                              properties:
                                id: 
                                  type: integer 
                                  example: 102
                                bezeichnung: 
                                  type: string
                                  example: Berufsbildende Schule/Einrichtung
                            behinderungen: 
                              type: array
                            zertifizierer: 
                              type: array
                            traeger: 
                              type: string
                              example: null
                    suchworte:
                      type: array
                      items:
                        suchwort: 
                          type: string
                          example: Bachelor
                adresse:
                  type: object
                  properties:
                    id: 
                      type: integer
                      example: 1282157
                    bezeichnung: 
                      type: string
                      example: Ausbildungsanbieter
                    strasse: 
                      type: string
                      example: Teststr. 13
                    ortStrasse:
                      type: object
                      properties:
                        id: 
                          type: integer 
                          example: 29492
                        plz: 
                          type: integer
                          example: '67071'
                        name: 
                          type: string
                          example: Ludwigshafen am Rhein
                        laengengrad: 
                          type: number
                          example: 7.4478
                        breitengrad: 
                          type: number
                          example: 29.4833
                        koordinaten:
                          type: object
                          properties:
                            lat: 
                              type: number
                              example: 29.4833
                            lon: 
                              type: number
                              example: 7.4478
                        land:
                          type: object
                          properties:
                            id: 
                              type: integer
                              example: 11
                            name: 
                              type: string
                              example: Rheinland-Pfalz
                            laenderCode: 
                              type: string
                              example: D
                            bundeslandCode: 
                              type: string
                              example: RPF
                            code: 
                              type: string
                              example: RPF
                    postfach: 
                      type: integer
                      example: '250362'
                    ortPostfach: 
                      type: string
                      example: null
                    dienstleistungen: 
                      type: string
                      example: '<p>Haltestelle "Zum Guten Beispiel" (Linie: 2)</p>'
                    ortsteil: 
                      type: string
                      example: Oggersheim
                    hinweise: 
                      type: string
                      example: '<p>Haltestelle "Zum Guten Beispiel" (Linie: 2)</p>'
                unterrichtszeiten: 
                  type: string
                  example: '<p>Montag - Freitag 08.00 - 16.30 Uhr (1 - 2x / pro Woche auch bis 18.00 Uhr möglich)</p>'
                kostenWert: 
                  type: string
                  example: null
                kostenWaehrung: 
                  type: string
                  example: EUR
                kostenBemerkung: 
                  type: string
                  example: '<h4>Ausbildungsvergütung:</h4><p>Seit dem 01.01.2019 werden die Auszubildenden gem. dem Tarifvertrag angestellt. Sie erhalten u.a. ein monatliches Ausbildungsentgelt, das im Mittel 1032 € beträgt.</p>'
                foerderung: 
                  type: boolean
                  example: false
                link: 
                  type: string
                  example: null
                bemerkung: 
                  type: string
                  example: '<h4>Folgende Bewerbungsunterlagen müssen vorgelegt werden: </h4><br/><ul><li>Zeugnis über den Realschulabschluss oder eine gleichwertige Ausbildung;</p>'
                beginn: 
                  type: string
                  example: null
                ende: 
                  type: string
                  example: null
                individuellerEinstieg: 
                  type: boolean
                  example: false
                anmeldeschluss: 
                  type: string
                  example: null
                bemerkungZeit: 
                  type: string
                  example: '<h4>zum Beginntermin</h4><p>Jährlich Anfang November<br/></p><h4>zu Termin und Dauer</h4><p>Anmeldung fortlaufend möglich</p>'
                pruefendeStelle: 
                  type: string
                  string: Landesamt für Soziales, Jugend und Versorgung, München
                eigeneAngebotsnummer: 
                  type: string
                  example: null
                teilnehmerMin: 
                  type: string
                  example: null
                teilnehmerMax: 
                  type: string
                  example: 26
                aktualisierungsdatum: 
                  type: integer
                  example: 1639436400000
                veranstaltungsablaeufe: 
                  type: string
                  example: []
                abstaende: 
                  type: string
                  example: []
        _links:
          type: object
          properties: 
            first: 
              type: object
              properties: 
                href: 
                  type: string
                  example: /pc/v1/ausbildungsangebot?uk=Bundesweit&bg=false&sty=0&page=0&size=20
            self: 
              type: object
              properties: 
                href: 
                  type: string
                  example: /pc/v1/ausbildungsangebot?uk=Bundesweit&bg=false&sty=0
            next: 
              type: object
              properties: 
                href: 
                  type: string
                  example: /pc/v1/ausbildungsangebot?uk=Bundesweit&bg=false&sty=0&page=1&size=20
            last: 
              type: object
              properties: 
                href: 
                  type: string
                  example: /pc/v1/ausbildungsangebot?uk=Bundesweit&bg=false&sty=0&page=499&size=20
        page: 
          type: object
          properties: 
            size: 
              type: integer
              format: int32
              example: 20
            totalElements: 
              type: integer
              format: int32
              example: 10000
            totalPages: 
              type: integer
              format: int32
              example: 500
            number: 
              type: integer
              format: int32
              example: 0

        aggregations: 
          type: object
          properties: 
            ANZAHL_AUSGEFILTERT: 
              type: object
              properties: 
                COUNT:
                  type: integer
                  example: 0
          VORBEREITENDEHILFENTYPEN:
            type: object
            properties:
              '0': 
                type: integer
                example: 4
              '1':
                type: integer
                example: 0
              '2': 
                type: integer
                example: 2
              '3': 
                type: integer
                example: 1
              '4': 
                type: integer
                example: 2
          SCHULABSCHLUESSE:
            type: object
            properties:
              '0': 
                type: integer
                example: 10
              '1': 
                type: integer
                example: 28
              '2': 
                type: integer
                example: 29
              '3': 
                type: integer
                example: 1
              '4': 
                type: integer
                example: 45
          INTEGRATIONSTYPEN:
            type: object
            properties:
              '0': 
                type: integer
                example: 9880
              '1': 
                type: integer
                example: 3181
          UNTERRICHTSFORMEN:
            type: object
            properties:
              '0': 
                type: integer
                example: 1709
              '1': 
                type: integer
                example: 32794
              '2': 
                type: integer
                example: 5309
              '3': 
                type: integer
                example: 110
              '4': 
                type: integer
                example: 101
              '5': 
                type: integer
                example: 105504
              '6': 
                type: integer
                example: 594
              '7': 
                type: integer
                example: 299
          ANBIETER:
            type: object
            properties:
              '132':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: Akademie für berufliche Aus- und Weiterbildung Schweiger & Schmitt GmbH
              '223':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: Annedore-Leber- Berufsbildungswerk Berlin ( ALBBW )
              '225':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: QUANTUM - Gesellschaft für berufliche Bildung mbH
              '234':                
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: Berufsförderungswerk Halle Berufliches Bildungszentrum für Blinde und Sehbehinderte
              '333':                
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: DIDACT Kfm. Berufsbildungsges. mbH
              '416':        
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: bfz Donauwörth * Ulm * Aalen
              '420':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: bfz Ingolstadt
              '427':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: bfz Alpenvorland
              '465':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: Berufliches Trainingszentrum VdK Rehabilitationswerk Straubing gGmbH
              '565':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: Liebenau Berufsbildungswerk gemeinnützige GmbH
              '566':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: DIAKOVERE Annastift Leben und Lernen gGmbH Berufsbildungswerk
              '567':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: Berufsbildungswerk Augsburg Sankt Elisabeth KJF
              '570':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: SFZ Förderzentrum gGmbH Berufsbildungswerk Chemnitz
              '581':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: Berufsbildungswerk Würzburg Caritas-Don Bosco gGmbH
              '584':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: Berufsbildungswerk für blinde und sehbehinderte Menschen Nikolauspflege Stuttgart
              '585':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: LWL-Berufsbildungswerk Soest Förderzentrum für blinde und sehbehinderte Menschen
              '587':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: BerufsBildungsWerk Greifswald der Diakoniewerk Greifswald gGmbH
              '588':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: Berufsbildungswerk Hamburg gGmbH
              '592':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: Berufsbildungswerk Mosbach-Heidelberg
              '593':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: Berufsbildungswerk Neckargemünd GmbH
              '595':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: Heinrich-Haus gGmbH Berufsbildungswerk
              '597':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: Berufsbildungswerk Bezirk Mittelfranken Hören Sprache Lernen
              '599':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: Rotkreuz-Institut Berufsbildungswerk im DRK gGmbH (RKI BBW gGmbH)
              '601':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: Berufsbildungswerk St. Franziskus Abensberg
              '602':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: Berufsbildungswerk Südhessen gemeinnützige GmbH
              '603':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: Diakonie Stetten e.V. Berufsbildungswerk Waiblingen
              '604':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: Berufsbildungswerk Waldwinkel Don Bosco Aschau am Inn
              '605':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: Berufsbildungswerk Rummelsberg
              '621':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: bfz Nürnberg
              '682':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: bfz München
              '949':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: Berufsförderungswerk Dortmund
              '950':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: Berufsförderungswerk Dresden gemeinnützige GmbH
              '952':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: BFW Düren gGmbH Zentrum für berufliche Bildung Blinder und Sehbehinderter
              '961':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: BFW Leipzig - Berufsförderungswerk Leipzig gemeinnützige GmbH
              '965':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: Berufsförderungswerk München gemeinnützige Gesellschaft mbH (BFW München)
              '966':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: Berufsförderungswerk Nürnberg gemeinnützige GmbH (BFW Nürnberg)
              '968':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: Berufsförderungswerk Schömberg gGmbH
              '970':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: BFW Würzburg gGmbH
              '1119':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: Bfz-Essen GmbH
              '1242':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: CJD Ilmenau Berufliches Bildungszentrum
              '1328':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: Bildungszentrum für Logistik und Verkehr BECKER GmbH Hagen
              '1371':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: cimdata Bildungsakademie GmbH
              '1457':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: DEKRA Akademie GmbH Siegen
              '1747':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: Euro-Schulen Rheinland GmbH Euro-Schulen Köln
              '1756':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: BTH Bildungs-, Technologie- und Handelsgesellschaft mbH Eisleben
              '1796':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: Diakonisches Institut für Sozi
              '2168':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: Witt Schulungszentrum GmbH
              '2234':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: FORUM Berufsbildung e.V.
              '2409':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: Grone-Bildungszentren Thüringen GmbH - gemeinnützig-
              '2729':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: Berufsbildungswerk Bethel
              '2730':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: Bugenhagen Berufsbildungswerk Timmendorfer Strand
              '2740':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: FAW Akademie Hamburg
              '2807':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: IAL Institut für angewandte Logistik GmbH
              '2943':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: isbb - Institut für schulische und berufliche Bildung
              '2969':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: BBW Frechen (CJD)
              '2970':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: CJD Berufsbildungswerk Gera gGmbH
              '2974':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: CJD Offenburg
              '3218':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: Kölner Wirtschaftsfachschule - Wifa - GmbH
              '3225':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: Kolping-Berufsbildungswerk Hettstedt gGmbH
              '3719':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: Schulungs-und Servicezentrum Vest GmbH Recklinghausen
              '4474':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: SCSI Schulungscenter GmbH
              '4760':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: Stephanuswerk Isny Bildungszentrum
              '4831':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: Theodor-Schäfer- Berufsbildungswerk Husum
              '5476':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: Hartnackschule Rhein-Main, eine Marke der Bildungszentrum Bauer GmbH
              '5482':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: IB Berlin-Brandenburg gGmbH Betrieb Brandenburg Südost
              '5506':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: Akademie Überlingen
              '5523':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: Lernen Bohlscheid - Akademie für Bildungsprojekte GmbH
              '5574':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: Bildungszentrum Saalfeld GmbH
              '5595':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: bfz Regensburg
              '5670':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: ÜAG gGmbH Über alle Grenzen
              '5677':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: Salo und Partner Berufliche Bildung GmbH
              '5702':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: BTB - Bildungswerk für therapeutische Berufe (ein Institut der BA GmbH)
              '6120':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: Haus des Guten Hirten Zentrum für berufliche Förderung und Ausbildung
              '6187':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: Bildungszentrum für Land- und Hauswirtschaft Bad Dürrenberg e. V.
              '6438':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: Berufsbildungswerk Neumünster
              '6442':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: Bildungswerk Wittekindshof
              '6448':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: Jugendsiedlung gGmbH
              '6452':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: Mariaberger Ausbildung & Service gemeinnützige GmbH
              '6742':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: Landesbildungszentrum für Hörgeschädigte Hildesheim
              '6758':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: Internationaler Bund (IB) Bildungszentrum Stuttgart Vaihingen
              '7107':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: Internationaler Bund (IB) e.V. IB Süd Bildungszentrum Asperg
              '7642':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: Bildungs-Center Südthüringen e.V.
              '7690':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: Paulinenpflege Winnenden e.V. Berufsbildungswerk
              '7828':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: GPB - Gesellschaft für Personalentwicklung und Bildung mbH
              '7859':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: Jugendberufsförderung ERFURT gGmbH
              '8001':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: CJD Kirchheim/ Teck
              '8135':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: FAW Akademie Mainz
              '8150':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: future Training & Consulting GmbH
              '8154':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: IWK Institut für Weiterbildung in der Kranken- & Altenpflege gemeinnützige GmbH .
              '8370':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: Bildungsinstitut Vogel GmbH & Co. KG
              '9002':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: Grone-Bildungszentren Berlin GmbH - gemeinnützig -
              '9195':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: Berufsbildungszentrum Regen
              '9213':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: BBW Dürrlauingen
              '9519':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: GBB - Gesellschaft für berufliche Bildung mbH
              '9527':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: stiftung st. franziskus heiligenbronn
              '9724':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: Berufsbildungswerk München Förderschwerpunkt Hören und Sprache
              '9888':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: FAW Akademie Hanau
              '9889':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: Fortbildungsakademie der Wirtschaft (FAW) gemeinnützige Gesellschaft mbH
              '10253':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: Berufsförderungswerk Friedehorst gGmbH
              '10461':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: Kolping-Bildungswerk in der Diözese Augsburg e. V. Bildungszentrum Donauwörth
              '10464':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: Kolping Bildungswerk in der Diözese Augsburg e.V. Bildungszentrum Kaufbeuren
              '10606':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: Berufsförderungswerk Eckert gGmbH
              '10613':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: Don Bosco Jugend-Werk Sachsen gGmbH
              '10621':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: Bildungswerk der Baden-Württembergischen Wirtschaft e.V.
              '10837':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: FAW Akademie Plauen
              '10865':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: FAW Akademie Kiel
              '11031':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: E. D. B. Bildungsgesellschaft für erfolgreiche Berufe GmbH
              '11051':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: DEKRA Akademie GmbH Karlsruhe
              '11203':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: Grone-Bildungszentren Nordrhein-Westfalen gGmbH
              '11305':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: IAD Informationsverarbeitung und angewandte Datentechnik GmbH
              '11584':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: Diakonie am Campus gGmbH Berufsbildungswerk Hof Diakonie Hochfranken
              '11594':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: Berufsförderungswerk Stralsund GmbH
              '11709':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: FAW Akademie Leipzig
              '11809':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: BFW Berufsförderungswerk Hamburg GmbH (BFW Hamburg)
              '11872':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: Deutsche Fitnesslehrer Vereinigung e.V.
              '12593':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: Bayerische Akademie für Außenwirtschaft e.V. - BAA München
              '12724':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: Berufsbildungswerk Volmarstein / Evangelische Stiftung Volmarstein
              '13175':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: InCoTrain GmbH
              '13798':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: CJD Nienburg Ausbildung
              '13803':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: ResQuality Rettungsdienstschule Essen Staatl. anerk. BFS
              '14170':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: FAW Akademie Bautzen
              '15004':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: bfz Aschaffenburg
              '15863':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: IBS Institut für Bildung und Sicherheit Schirmer GmbH
              '16209':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: bfz Coburg
              '16255':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: FAW Akademie Rostock
              '16296':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: Berufsbildungsakademie "Altmark" GmbH
              '16319':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: bfz Bayreuth
              '16320':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: bfz Kempten
              '16321':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: bfz Landshut
              '16323':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: bfz Unterallgäu * Bodensee * O
              '16324':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: bfz Passau
              '16325':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: bfz Schweinfurt
              '16584':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: Deutsche POP, music support group GmbH
              '16607':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: IAL® GmbH
              '17074':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: IAL Düsseldorf Institut für angewandte Logistik Düsseldorf
              '17489':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: IAL Mönchengladbach Institut für angewandte Logistik GmbH
              '17728':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: IAL Institut für angewandte Logistik GmbH Umschulungen-Weiterbildungen
              '17739':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: CBW College Berufliche Weiterbildung GmbH
              '18467':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: VHS-Bildungswerk GmbH
              '19354':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: Dominikus-Ringeisen-Werk Ursberg Berufsbildungswerk
              '21548':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: Berufsbildungswerk Benediktushof Maria Veen
              '23487':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: DAA - Deutsche Angestellten-Akademie GmbH Sitz der Gesellschaft
              '24527':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: Berufsbildungswerk Stiftung St. Zeno
              '25627':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: Berufliches Bildungs- und Rehabilitationszentrum e. V. (BBRZ e. V.)
              '27788':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: Berufliches Trainingszentrum Rhein-Neckar gGmbH
              '28408':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: ZAL Zentrum Aus- und Weiter bildung GmbH Ludwigsfelde- Luckenwalde
              '30007':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: Bildungs- und Schulungs-Institut gGmbH
              '30229':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: DEKRA Akademie GmbH Gummersbach
              '30230':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: DEKRA Akademie GmbH Leverkusen
              '30231':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: DEKRA Akademie GmbH Bergisch Gladbach
              '30232':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: DEKRA Akademie GmbH Siegburg
              '31669':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: Europäisches Berufsbildungswerk Bitburg (DRK Landesverband Rheinl.Pf.)
              '34647':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: JobSystems GmbH
              '37668':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: Bildungswerk BAU
              '41087':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: bfz Weiden
              '43632':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: HÖHER Management GmbH & Co. KG Akademie für Pflegeberufe
              '44415':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: SRH Berufsbildungswerk Sachsen GmbH
              '44895':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: FAW Akademie Dresden
              '45774':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: Bildungspark Heilbronn-Franken gGmbH
              '45917':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: Berufsbildungswerk Worms
              '46034':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: Berufsbildungswerk Bad Arolsen (BBW Nordhessen)
              '46035':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: Berufsbildungswerk Kassel (BBW Nordhessen)
              '46197':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: CJD Homburg / Saar gGmbH
              '46994':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: Berufsbildungswerk Leipzig Hören-Sprache-Kommunikation
              '47417':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: Berufsbildungswerk Josefsheim gGmbH
              '47755':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: CJD Dortmund Berufsbildungswerk
              '47914':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: Berufsbildungswerk Bremen gGmbH
              '48055':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: Berufsförderungswerk Frankfurt am Main
              '48175':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: Kolping-Berufsbildungswerk Brakel gem. GmbH
              '48415':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: LICHTENAU e.V. Zentrum für Berufliche Bildung
              '49136':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: Berufsbildungswerk Lingen Christophorus-Werk Lingen e.V.
              '58934':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: Kolping-Berufsbildungswerk Essen
              '58975':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: Berufsförderungswerk Heidelberg - Schlierbach Kurt-Lindemann-Haus gGmbH
              '61694':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: damago GmbH
              '63415':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: CJD Berchtesgaden
              '66794':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: BBW im Oberlinhaus gGmbH
              '68619':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: FAW Akademie Lübeck
              '69014':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: AFP Akademie für Personalweiterbildung
              '70017':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: BBW Stiftung ICP München
              '72436':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: CJD Berlin im Christlichen Jugenddorfwerk Deutschlands e.V.
              '74454':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: JoBi / Job- & Bildungsberatungs GmbH
              '78115':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: Läpple Ausbildungs GmbH
              '80797':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: DEKRA Akademie GmbH Dortmund
              '80816':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: DEKRA Akademie GmbH Augsburg
              '81336':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: DEKRA Akademie GmbH Osnabrück
              '81875':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: DEKRA Akademie GmbH Ulm
              '82276':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: IAL - Institut für angewandte Logistik GmbH Dortmund
              '82556':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: IB Berlin-Brandenburg gGmbH Betrieb Brandenburg Nordost
              '84275':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: Mitteldeutsches Institut für Qualifikation und berufliche Rehabilitation - MIQR GmbH
              '84618':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: ifas Institut für angewandte Sozialfragen gGmbH
              '84746':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: DEKRA Akademie GmbH Mindelheim
              '84748':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: DEKRA Akademie GmbH Günzburg
              '84775':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: DEKRA Akademie GmbH Marktoberdorf
              '84777':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: DEKRA Akademie GmbH Neuburg
              '85356':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: FAW Akademie Chemnitz
              '85857':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: Johannesburg GmbH
              '86359':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: BFZ-Kassel GmbH Bildungsförderzentrum Schulung - Beratung - Service
              '89256':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: CJD Wolfsburg
              '89424':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: Lernwerkstatt Katholische Jugendfürsorge Regensburg
              '89516':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: Berufliches Ausbildungs- und Vorbereitungswerk gGmbH
              '90619':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: FAW Akademie Berlin
              '90695':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: Dr. P. Rahn & Partner Schulen in freier Trägerschaft Rehabilitationsbereich Halle
              '90976':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: FAW Akademie Fulda
              '91937':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: Diakonie HERZOGSÄGMÜHLE gGmbH
              '92056':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: bfz Westmittelfranken
              '92215':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: GbF - Gesellschaft zur beruflichen Förderung Schweinfurt mbH
              '92415':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: Justland GmbH
              '92536':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: Kolping Bildungswerk in der Diözese Augsburg e.V. Bildungszentrum Neu-Ulm
              '93016':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: FöBi Bildungszentrum Verein zur Förderung und Bildung Jugendlicher e.V.
              '93437':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: Verein Jugendpflege Vilshofen Berufsbildungszentrum
              '93556':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: Stephansstift Berufsbildungszentrum der D.B.K.
              '94236':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: bfz Bamberg
              '94395':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: bfz Hochfranken
              '96937':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: Sondershäuser Bildungsverein e.V.
              '97022':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: Regionales Bildungszentrum Eckert gGmbH
              '97677':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: bfz Würzburg
              '97680':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: bfz Augsburg
              '97876':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: BNW gGmbH - Bildungswerk der Niedersächsischen Wirtschaft gemeinnützige GmbH
              '98840':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: Ausbildungszentrum OTA
              '100128':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: TÜV Rheinland Akademie Magdeburg
              '100960':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: FAW Akademie Köln
              '102800':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: First Academy GmbH first Academy GmbH
              '108680':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: BERNARDS AKADEMIE GmbH
              '112919':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: FAW Akademie Kaiserslautern
              '114819':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: ciT - Consulting Innovation Training Zwickau GmbH
              '117606':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: Grümel gGmbH
              '119043':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: FAW Akademie Bielefeld
              '121322':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: BBQ - Baumann Bildung und Qualifizierung Zweigniederlassung Düsseldorf
              '124202':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: Bau Bildung Sachsen e. V.
              '139702':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: Katholischer Jugendfürsorge verein für die Diözese Speyer Jugendwerk Landau
              '140301':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: TÜV NORD Bildung gGmbH
              '144021':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: SBH Nordost GmbH
              '147441':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: TÜV NORD Bildung gGmbH
              '148061':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
                    example: WR Wirtschaftsakademie Rheinland GmbH
              '150926':
                type: object
                properties:
                  anzahlErgebnisse: 
                    type: integer
                    example: 66
                  name: 
                    type: string
[...]
